# **TP 1**

## **Exercice 1:** inventory management

### **Introduction:**

You are in charge of managing the inventory for a store, and you need to use various Python data types to create a comprehensive inventory system.

In [28]:
items = ["Laptop", "Printer", "Monitor", "Mouse", "Keyboard"]
quantities = (10, 5, 8, 15, 12)
prices = {"Laptop": 1200, "Printer": 250, "Monitor": 350, "Mouse": 30, "Keyboard": 50}

### **Task:**
**1. Display the list of items:**
- Use a loop to iterate through the list.
- Print each item.

In [29]:
k = 1
for i in items: 
    print(f'{k}. ',i)
    k+=1

1.  Laptop
2.  Printer
3.  Monitor
4.  Mouse
5.  Keyboard

**2. Display the quantities of each item using a tuple:**
- Use indexing to access the quantities tuple.
- Print each quantity.

In [30]:
for i in range(len(quantities)):
    print(items[i],':',quantities[i])

Laptop : 10
Printer : 5
Monitor : 8
Mouse : 15
Keyboard : 12

**3. Display the prices of each item using a dictionary:**
- Use keys to access the prices dictionary.
- Print each item's price.

In [31]:
for each in prices:
    print(each, ":" ,prices[each])

Laptop : 1200
Printer : 250
Monitor : 350
Mouse : 30
Keyboard : 50

**4. Check if "Tablet" is in the list of items:**
- Use a conditional statement with the 'in' keyword to check if "Tablet" is in the list.
- Print a message indicating whether "Tablet" is in the list or not.

In [32]:
if 'Tablet' in items:
    print('Tablet is in the list')
else:
    print('Tablet is not in the list')

Tablet is not in the list

**5. Add a new item "Tablet" to the list:**
- Use a list method to add the new item to the items list.
- Print the updated list.

In [33]:
items.append('Tablet')
items

['Laptop', 'Printer', 'Monitor', 'Mouse', 'Keyboard', 'Tablet']

**6. Update the quantity of "Laptop" to 12:**
- Use indexing to access and update the value in the quantities tuple.
- Print the updated quantities.

In [34]:
quantities = list(quantities)
quantities[0] = 12
quantities = tuple(quantities)
quantities

(12, 5, 8, 15, 12)

**7. Calculate the total value of the inventory:**
- Use a loop to iterate through the items, accessing quantities and prices.
- Calculate the total value (quantity * price) for each item and sum them.
- Print the total value.

In [35]:
sum = 0
for each in prices:
    sum += prices[each] * quantities[items.index(each)]
    print(each, prices[each] * quantities[items.index(each)])

print('Total:', sum)

Laptop 14400
Printer 1250
Monitor 2800
Mouse 450
Keyboard 600
Total: 19500

In [36]:
import numpy as np

In [37]:
total_value = np.sum([prices[item] * quantities[items.index(item)] for item in items if item in prices])

print(total_value)

19500

**8. Create a set of unique item names:**
- Use a set to automatically remove duplicates from the items list.
- Print the set of unique items.

In [38]:
newSet = set(items)
newSet

{'Keyboard', 'Laptop', 'Monitor', 'Mouse', 'Printer', 'Tablet'}

**9. Convert the prices dictionary to a list of tuples:**
- Use the 'items()' method of the dictionary to get key-value pairs.
- Print the list of tuples.

In [39]:
newTuple = []

for i in prices:
    newTuple.append((i,prices[i]))

newTuple = tuple(newTuple)
newTuple

(('Laptop', 1200),
 ('Printer', 250),
 ('Monitor', 350),
 ('Mouse', 30),
 ('Keyboard', 50))

or use **.items()** method.

In [40]:
newTuple1 = prices.items()
newTuple1

dict_items([('Laptop', 1200), ('Printer', 250), ('Monitor', 350), ('Mouse', 30), ('Keyboard', 50)])

**10. Display the final inventory summary:**
- Combine information from lists, tuples, and dictionaries to create a summary.
- Print a summary of items, quantities, prices, and total value.

In [41]:
print('Final Inventory Summary')
print('-----------------------------------------------')
print('Item Name\t\tQuantity\tPrice')
print('-----------------------------------------------')
for i in range(len(quantities)):
    print(f'{items[i]:<15}\t\t{quantities[i]:<15}\t{prices[items[i]]:<15}')
print('-----------------------------------------------')
print('Total Value:\t\t\t\t', sum)

Final Inventory Summary
-----------------------------------------------
Item Name		Quantity	Price
-----------------------------------------------
Laptop         		12             	1200
Printer        		5              	250
Monitor        		8              	350
Mouse          		15             	30
Keyboard       		12             	50
-----------------------------------------------
Total Value:				 19500

In [42]:
summary = {}
for i in range(len(quantities)):
    summary[items[i]] = (quantities[i], prices[items[i]])

summary

{'Laptop': (12, 1200),
 'Printer': (5, 250),
 'Monitor': (8, 350),
 'Mouse': (15, 30),
 'Keyboard': (12, 50)}

In [43]:
print('Final Inventory Summary')
print('-----------------------------------------------')
print('Item Name\t\tQuantity\tPrice')
print('-----------------------------------------------')
for i in summary:
    print(f'{i:<15}\t\t{summary[i][0]:<15}\t{summary[i][1]:<15}')
print('-----------------------------------------------')
print('Total Value:\t\t\t\t', sum)

Final Inventory Summary
-----------------------------------------------
Item Name		Quantity	Price
-----------------------------------------------
Laptop         		12             	1200
Printer        		5              	250
Monitor        		8              	350
Mouse          		15             	30
Keyboard       		12             	50
-----------------------------------------------
Total Value:				 19500

### Bonus Task:

**11. Sort the list of items alphabetically:**
- Use a list method to sort the elements in place.
- Print the sorted list.

In [44]:
items.sort()
items

['Keyboard', 'Laptop', 'Monitor', 'Mouse', 'Printer', 'Tablet']

## **Exercice 2:** Application of functions f(x) in python

Let $f: R-{2} \Rightarrow R$ be a function defined by $f(x) = \frac{(x+1)^m}{(x-2)^n}$. where $m$ and $n$ in $N$ and $f(2) = 0$.

**1. Display the list of variable $x$:**

&emsp;a. $x$ is between 0 to 100, where $x$ in $N$.

In [45]:
x = [x for x in range(101)]
x

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

&emsp;b. $x$ is between 0 to 100, where $x(n) = 2n + 1$, $n = 0, 1, 2, 3, 4, ...$

In [46]:
def x1(x):
    return x*2 + 1

In [47]:
x1 = [x1(x) for x in range(101) if x1(x) <= 100]
x1

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

&emsp;c. $x$ is between $0$ to $100$, where $x(n)=2^n$, $n=0,1,2,3,4,...$

In [48]:
def x2(x):
    return 2**x

In [49]:
x2 = [x2(x) for x in range(101) if x2(x) <= 100]
x2

[1, 2, 4, 8, 16, 32, 64]

**2. Calculate the value and display list of $f(x)$ for $n =20$, $m =24$**

&emsp;a. For the value of $x$ following by question (1.a)

In [50]:
def fx1(x):
    return (x + 1)**24 / (x - 2)**20

In [51]:
x3 = []
for i in x:
    if i == 2:
        continue
    else:
        x3.append(fx1(i))
x3

[9.5367431640625e-07,
 16777216.0,
 281474976710656.0,
 56843418860.808014,
 1358954496.0,
 174242114.8997586,
 49517601.57141521,
 21817009.40605259,
 12532542.89419685,
 8543281.252409657,
 6538825.02945244,
 5428007.7037437055,
 4777703.046642087,
 4391018.798566293,
 4168814.1820602478,
 4057078.393581868,
 4024527.8896716614,
 4052161.7219842584,
 4128016.916693943,
 4244367.413562796,
 4396148.159852162,
 4580028.190579433,
 4793844.101203188,
 5036242.013434494,
 5306444.556643383,
 5604095.216725045,
 5929151.927539998,
 6281812.800225848,
 6662463.305375667,
 7071638.070240881,
 7509992.818367964,
 7978283.467404165,
 8477350.357364075,
 9008106.208457336,
 9571526.825682342,
 10168643.850891365,
 10800539.058198301,
 11468339.824855737,
 12173215.50610486,
 12916374.511506056,
 13699061.930228276,
 14522557.589348579,
 15388174.45624969,
 16297257.31637777,
 17251181.672810037,
 18251352.825610466,
 19299205.09777208,
 20396201.181342818,
 21543831.582609106,
 22743614.149334893,
 23997093.66629681,
 25305841.50792148,
 26671455.33887257,
 28095558.855068255,
 29579801.55892338,
 31125858.56367225,
 32735430.422490243,
 34410242.97883577,
 36152047.2350107,
 37962619.23641149,
 39843759.96933519,
 41797295.27052955,
 43825075.74694686,
 45928976.70438724,
 48110898.083906665,
 50372764.40502411,
 52716524.71489689,
 55144152.54274707,
 57657645.85891818,
 60259027.03802403,
 62950342.82572134,
 65733664.30869823,
 68611086.88752204,
 71584730.25203423,
 74656738.35901876,
 77829279.41190282,
 81104545.84227803,
 84484754.29305482,
 87972145.60308422,
 91568984.7931005,
 95277561.0528545,
 99100187.72932151,
 103039202.31588116,
 107096966.44237675,
 111275865.86597231,
 115578310.46273352,
 120006734.21986683,
 124563595.22855745,
 129251375.67735328,
 134072581.84604664,
 139029744.10001096,
 144125416.88495338,
 149362178.7220481,
 154742632.20341882,
 160269403.98794124,
 165945144.79733968,
 171772529.41255394,
 177754256.67035508,
 183893049.46019027,
 190191654.72123876]

&emsp;b. For the value of $x$ following by question (1.b)

In [52]:
x4 = [fx1(i) for i in x1 if x3[i] != 2]
x4

[16777216.0,
 281474976710656.0,
 1358954496.0,
 49517601.57141521,
 12532542.89419685,
 6538825.02945244,
 4777703.046642087,
 4168814.1820602478,
 4024527.8896716614,
 4128016.916693943,
 4396148.159852162,
 4793844.101203188,
 5306444.556643383,
 5929151.927539998,
 6662463.305375667,
 7509992.818367964,
 8477350.357364075,
 9571526.825682342,
 10800539.058198301,
 12173215.50610486,
 13699061.930228276,
 15388174.45624969,
 17251181.672810037,
 19299205.09777208,
 21543831.582609106,
 23997093.66629681,
 26671455.33887257,
 29579801.55892338,
 32735430.422490243,
 36152047.2350107,
 39843759.96933519,
 43825075.74694686,
 48110898.083906665,
 52716524.71489689,
 57657645.85891818,
 62950342.82572134,
 68611086.88752204,
 74656738.35901876,
 81104545.84227803,
 87972145.60308422,
 95277561.0528545,
 103039202.31588116,
 111275865.86597231,
 120006734.21986683,
 129251375.67735328,
 139029744.10001096,
 149362178.7220481,
 160269403.98794124,
 171772529.41255394,
 183893049.46019027]

&emsp;c. For the value of $x$ following by question (1.c)

In [53]:
x5 = [fx1(i) for i in x1 if x3[i] != 2]
x5

[16777216.0,
 281474976710656.0,
 1358954496.0,
 49517601.57141521,
 12532542.89419685,
 6538825.02945244,
 4777703.046642087,
 4168814.1820602478,
 4024527.8896716614,
 4128016.916693943,
 4396148.159852162,
 4793844.101203188,
 5306444.556643383,
 5929151.927539998,
 6662463.305375667,
 7509992.818367964,
 8477350.357364075,
 9571526.825682342,
 10800539.058198301,
 12173215.50610486,
 13699061.930228276,
 15388174.45624969,
 17251181.672810037,
 19299205.09777208,
 21543831.582609106,
 23997093.66629681,
 26671455.33887257,
 29579801.55892338,
 32735430.422490243,
 36152047.2350107,
 39843759.96933519,
 43825075.74694686,
 48110898.083906665,
 52716524.71489689,
 57657645.85891818,
 62950342.82572134,
 68611086.88752204,
 74656738.35901876,
 81104545.84227803,
 87972145.60308422,
 95277561.0528545,
 103039202.31588116,
 111275865.86597231,
 120006734.21986683,
 129251375.67735328,
 139029744.10001096,
 149362178.7220481,
 160269403.98794124,
 171772529.41255394,
 183893049.46019027]

**3. Given the value of $n = 20$, $m = 24$ and $x$ in $N$. Calculated the sum of $f(x)$, where $x$ in**

&emsp;a. For the value of $x$ following by question (1.a) $\\$
&emsp;b. For the value of $x$ following by question (1.b) $\\$
&emsp;c. For the value of $x$ following by question (1.c)

In [54]:
sum_x3 = np.sum(x3)
sum_x4 = np.sum(x4)
sum_x5 = np.sum(x5)

sum_x3, sum_x4, sum_x5

(281538187987712.7, 281478730694767.8, 281478730694767.8)