# Exercise 1

## Part 1

Write a Python program that takes an input grade as an integer and classifies it into different categories using if, elif, and else statements. Use the following grading scale: A: 90-100, B: 80-89, C: 70-79, D: 60 – 69, F: 0-59.

In [1]:
def sortGrade(grade: float) -> str:
    """
    TODO:
    Given a grade, return the letter grade that corresponds to the grade.
    The grade is a float between 0 and 100. The letter grade is as follows:
    - A: 90-100
    - B: 80-89
    - C: 70-79
    - D: 60-69
    - F: 0-59
    If the grade is not between 0 and 100, return "Invalid grade".

    Parameters:
    grade (float): The grade to be converted to a letter grade.

    Returns:
    str: The letter grade that corresponds to the grade.
    """

    if grade < 60.0 and grade >= 0.0:
        return 'F'
    elif grade < 70.0:
        return 'D'
    elif grade < 80:
        return 'C'
    elif grade < 90:
        return 'B'
    elif grade <= 100:
        return 'A'
    else:
        return 'Invalid grade'

## Part 2

According to the final examination test score for 10 students from DS class:

```
student_scores = { "e20211": 87.91, "e20212": 94.29, "e20213": 50.68, "e20214": 100.00, "e20215": 78.36, "e20216": 93.63, "e20217": 99.78, "e20218": 62.37, "e20219": 83.78, "e202110": 59.00 }
```

In [2]:
student_scores = {
    "e20211": 87.91,
    "e20212": 94.29,
    "e20213": 50.68,
    "e20214": 100.00,
    "e20215": 78.36,
    "e20216": 93.63,
    "e20217": 99.78,
    "e20218": 62.37,
    "e20219": 83.78,
    "e202110": 59.00,
}

In [3]:
import tabulate
import pandas as pd

In [4]:
students_rank = dict(sorted(student_scores.items(), key=lambda x: x[1], reverse=True))
students_rank

{'e20214': 100.0,
 'e20217': 99.78,
 'e20212': 94.29,
 'e20216': 93.63,
 'e20211': 87.91,
 'e20219': 83.78,
 'e20215': 78.36,
 'e20218': 62.37,
 'e202110': 59.0,
 'e20213': 50.68}

In [5]:
students_grade = {}
for key, value in students_rank.items():
    students_grade[key] = sortGrade(value)

students_grade

{'e20214': 'A',
 'e20217': 'A',
 'e20212': 'A',
 'e20216': 'A',
 'e20211': 'B',
 'e20219': 'B',
 'e20215': 'C',
 'e20218': 'D',
 'e202110': 'F',
 'e20213': 'F'}

In [6]:
i = 1
for key, value in students_rank.items():
    students_rank[key] = i
    i += 1

students_rank

{'e20214': 1,
 'e20217': 2,
 'e20212': 3,
 'e20216': 4,
 'e20211': 5,
 'e20219': 6,
 'e20215': 7,
 'e20218': 8,
 'e202110': 9,
 'e20213': 10}

In [7]:
df = pd.DataFrame()

df = pd.DataFrame(list(students_rank.items()), columns=['Student ID', 'Rank'])
df['Grade'] = df['Student ID'].map(students_grade)
df['Score'] = df['Student ID'].map(student_scores)
df.head()

  Student ID  Rank Grade   Score
0     e20214     1     A  100.00
1     e20217     2     A   99.78
2     e20212     3     A   94.29
3     e20216     4     A   93.63
4     e20211     5     B   87.91

In [8]:
cols = list(df.columns)
cols.remove('Student ID')
cols.append('Student ID')
df = df[cols]
df.head()

   Rank Grade   Score Student ID
0     1     A  100.00     e20214
1     2     A   99.78     e20217
2     3     A   94.29     e20212
3     4     A   93.63     e20216
4     5     B   87.91     e20211

In [9]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9
Rank,1,2,3,4,5,6,7,8,9,10
Grade,A,A,A,A,B,B,C,D,F,F
Score,100.0,99.78,94.29,93.63,87.91,83.78,78.36,62.37,59.0,50.68
Student ID,e20214,e20217,e20212,e20216,e20211,e20219,e20215,e20218,e202110,e20213

In [10]:
displayrank = ["Rank"]
for i in df['Rank']:
    displayrank.append(i)

displayrank

['Rank', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
displaygrade = ["Grade"]
for i in df['Grade']:
    displaygrade.append(i)

displaygrade

['Grade', 'A', 'A', 'A', 'A', 'B', 'B', 'C', 'D', 'F', 'F']

In [12]:
displayScore = ["Score"]
for i in df['Score']:
    displayScore.append(i)

displayScore

['Score', 100.0, 99.78, 94.29, 93.63, 87.91, 83.78, 78.36, 62.37, 59.0, 50.68]

In [13]:
displayID = ["Student ID"]
for i in df['Student ID']:
    displayID.append(i)

displayID

['Student ID',
 'e20214',
 'e20217',
 'e20212',
 'e20216',
 'e20211',
 'e20219',
 'e20215',
 'e20218',
 'e202110',
 'e20213']

In [14]:
display = [displayrank, displaygrade, displayScore, displayID]
display

[['Rank', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 ['Grade', 'A', 'A', 'A', 'A', 'B', 'B', 'C', 'D', 'F', 'F'],
 ['Score',
  100.0,
  99.78,
  94.29,
  93.63,
  87.91,
  83.78,
  78.36,
  62.37,
  59.0,
  50.68],
 ['Student ID',
  'e20214',
  'e20217',
  'e20212',
  'e20216',
  'e20211',
  'e20219',
  'e20215',
  'e20218',
  'e202110',
  'e20213']]

In [15]:
print(tabulate.tabulate(display, tablefmt="fancy_grid"))

╒════════════╤════════╤════════╤════════╤════════╤════════╤════════╤════════╤════════╤═════════╤════════╕
│ Rank       │ 1      │ 2      │ 3      │ 4      │ 5      │ 6      │ 7      │ 8      │ 9       │ 10     │
├────────────┼────────┼────────┼────────┼────────┼────────┼────────┼────────┼────────┼─────────┼────────┤
│ Grade      │ A      │ A      │ A      │ A      │ B      │ B      │ C      │ D      │ F       │ F      │
├────────────┼────────┼────────┼────────┼────────┼────────┼────────┼────────┼────────┼─────────┼────────┤
│ Score      │ 100.0  │ 99.78  │ 94.29  │ 93.63  │ 87.91  │ 83.78  │ 78.36  │ 62.37  │ 59.0    │ 50.68  │
├────────────┼────────┼────────┼────────┼────────┼────────┼────────┼────────┼────────┼─────────┼────────┤
│ Student ID │ e20214 │ e20217 │ e20212 │ e20216 │ e20211 │ e20219 │ e20215 │ e20218 │ e202110 │ e20213 │
╘════════════╧════════╧════════╧════════╧════════╧════════╧════════╧════════╧════════╧═════════╧════════╛

In [16]:
for rank in displayrank:
    print(rank, end="\t")
print()
for grade in displaygrade:
    print(grade, end="\t")
print()
for score in displayScore:
    print(score, end="\t")
print()
for ID in displayID:
    print(ID, end="\t")

Rank	1	2	3	4	5	6	7	8	9	10
Grade	A	A	A	A	B	B	C	D	F	F
Score	100.0	99.78	94.29	93.63	87.91	83.78	78.36	62.37	59.0	50.68
Student ID	e20214	e20217	e20212	e20216	e20211	e20219	e20215	e20218	e202110	e20213

# Exercise 2

## Part 1

Write a Python program that calculates BMI (Body Mass Index) based on user input for weight in kilograms and height in meters.

`The BMI Formula is: BMI = weight(kg) / (height(m) * height(m))`

Classify the BMI according to the following categories:
- Underweight: BMI less than 18.5
- Normal weight: BMI between 18.5 and 24.9
- Overweight: BMI between 25 and 29.9
- Obesity: BMI 30 or more

In [17]:
def BMI(weight: float, height: float) -> str:
    """
    TODO:
    Given a person's weight in kilograms and height in meters, return the BMI category that the person falls under.

    The BMI is calculated using the following formula:
    `BMI = weight / height^2`

    Parameters:
    weight (float): The person's weight in kilograms.
    height (float): The person's height in meters.

    Returns:
    str: The BMI category that the person falls under.
    """

    bmi = weight / (height ** 2)
    if bmi < 18.5:
        bmi_category = 'Underweight'
    elif bmi < 25:
        bmi_category = 'Normal weight'
    elif bmi < 30:
        bmi_category = 'Overweight'
    elif bmi >=30:
        bmi_category = 'Obese'
    else:
        bmi_category = 'Invalid BMI'
    
    return bmi, bmi_category

## Part 2

In this case study, we will be working with many datasets that contains information about individual’s height, weight, and gender.


| No | Gender | Height(m) | Weight(kg) | BMI | Category |
| --- | --- | --- | --- | --- | --- |
| 1 | female | 1.65 | 50.3 |  |  |
| 2 | female | 1.50 | 49.8 |  |  |
| 3 | female | 1.58 | 73.2 |  |  |
| 4 | male | 1.62 | 68.4 |  |  |
| 5 | male | 1.76 | 73.5 |  |  |
| 6 | male | 1.82 | 80.7 |  |  |
| 7 | female | 1.67 | 76.8 |  |  |
| 8 | female | 1.76 | 89.3 |  |  |
| 9 | male | 1.92 | 92.7 |  |  |
| 10 | male | 1.81 | 102.8 |  |  |

a) Store the columns “Gender”, “Height”, “Weight” in list, tuple, or dictionary.

b) Complete and display information above by order male to female.

c) Clustering categories to display information as example below:

| Category     | Female | Male |
|--------------|--------|------|
| Underweight  | 2      | 3    |
| Normal weight| 3      | 2    |

In [18]:
data = [
    ["female", 1.65, 50.3],
    ["female", 1.50, 49.8],
    ["female", 1.58, 73.2],
    ["male", 1.62, 68.4],
    ["male", 1.76, 73.5],
    ["male", 1.82, 80.7],
    ["female", 1.67, 76.8],
    ["female", 1.76, 89.3],
    ["male", 1.92, 92.7],
    ["male", 1.81, 102.8],
]

data.sort(key=lambda x: x[0])
data.reverse()
print(tabulate.tabulate(data, headers=['Gender', 'Height', 'Weight'], tablefmt="fancy_grid"))

╒══════════╤══════════╤══════════╕
│ Gender   │   Height │   Weight │
╞══════════╪══════════╪══════════╡
│ male     │     1.81 │    102.8 │
├──────────┼──────────┼──────────┤
│ male     │     1.92 │     92.7 │
├──────────┼──────────┼──────────┤
│ male     │     1.82 │     80.7 │
├──────────┼──────────┼──────────┤
│ male     │     1.76 │     73.5 │
├──────────┼──────────┼──────────┤
│ male     │     1.62 │     68.4 │
├──────────┼──────────┼──────────┤
│ female   │     1.76 │     89.3 │
├──────────┼──────────┼──────────┤
│ female   │     1.67 │     76.8 │
├──────────┼──────────┼──────────┤
│ female   │     1.58 │     73.2 │
├──────────┼──────────┼──────────┤
│ female   │     1.5  │     49.8 │
├──────────┼──────────┼──────────┤
│ female   │     1.65 │     50.3 │
╘══════════╧══════════╧══════════╛

In [19]:
for i in data:
    i.extend(BMI(i[2], i[1]))

print(tabulate.tabulate(data, headers=['Gender', 'Height', 'Weight', 'BMI', 'Category'], tablefmt="fancy_grid"))

╒══════════╤══════════╤══════════╤═════════╤═══════════════╕
│ Gender   │   Height │   Weight │     BMI │ Category      │
╞══════════╪══════════╪══════════╪═════════╪═══════════════╡
│ male     │     1.81 │    102.8 │ 31.3788 │ Obese         │
├──────────┼──────────┼──────────┼─────────┼───────────────┤
│ male     │     1.92 │     92.7 │ 25.1465 │ Overweight    │
├──────────┼──────────┼──────────┼─────────┼───────────────┤
│ male     │     1.82 │     80.7 │ 24.363  │ Normal weight │
├──────────┼──────────┼──────────┼─────────┼───────────────┤
│ male     │     1.76 │     73.5 │ 23.728  │ Normal weight │
├──────────┼──────────┼──────────┼─────────┼───────────────┤
│ male     │     1.62 │     68.4 │ 26.0631 │ Overweight    │
├──────────┼──────────┼──────────┼─────────┼───────────────┤
│ female   │     1.76 │     89.3 │ 28.8288 │ Overweight    │
├──────────┼──────────┼──────────┼─────────┼───────────────┤
│ female   │     1.67 │     76.8 │ 27.5377 │ Overweight    │
├──────────┼──────────┼──────────┼─────────┼───────────────┤
│ female   │     1.58 │     73.2 │ 29.3222 │ Overweight    │
├──────────┼──────────┼──────────┼─────────┼───────────────┤
│ female   │     1.5  │     49.8 │ 22.1333 │ Normal weight │
├──────────┼──────────┼──────────┼─────────┼───────────────┤
│ female   │     1.65 │     50.3 │ 18.4757 │ Underweight   │
╘══════════╧══════════╧══════════╧═════════╧═══════════════╛

In [20]:
for_count_data = []

count1 = 0
for i in data:
    for_count_data.append([i[0]])
    for_count_data[count1].append(i[4])
    count1 += 1

for_count_data

[['male', 'Obese'],
 ['male', 'Overweight'],
 ['male', 'Normal weight'],
 ['male', 'Normal weight'],
 ['male', 'Overweight'],
 ['female', 'Overweight'],
 ['female', 'Overweight'],
 ['female', 'Overweight'],
 ['female', 'Normal weight'],
 ['female', 'Underweight']]

In [21]:
count_by_gender = [['Category', 'Female', 'Male']]
cat_items = []

for i in for_count_data:
    if i[1] not in cat_items:
        cat_items.append(i[1])
        if i[0] == 'female':
            count_by_gender.append([i[1], 1, 0])
        else:
            count_by_gender.append([i[1], 0, 1])
    else:
        if i[0] == 'female':
            count_by_gender[cat_items.index(i[1]) + 1][1] += 1
        else:
            count_by_gender[cat_items.index(i[1]) + 1][2] += 1

count_by_gender

[['Category', 'Female', 'Male'],
 ['Obese', 0, 1],
 ['Overweight', 3, 2],
 ['Normal weight', 1, 2],
 ['Underweight', 1, 0]]

In [22]:
print(tabulate.tabulate(count_by_gender, tablefmt="fancy_grid", headers="firstrow"))

╒═══════════════╤══════════╤════════╕
│ Category      │   Female │   Male │
╞═══════════════╪══════════╪════════╡
│ Obese         │        0 │      1 │
├───────────────┼──────────┼────────┤
│ Overweight    │        3 │      2 │
├───────────────┼──────────┼────────┤
│ Normal weight │        1 │      2 │
├───────────────┼──────────┼────────┤
│ Underweight   │        1 │      0 │
╘═══════════════╧══════════╧════════╛

# Exercise 3
## Part 1
Write a python method to checks if a given number, is a prime number.

In [27]:
from math import sqrt

def isPrime(n: int) -> bool:
    """
    TODO:
    Given a positive integer, return whether the number is prime or not.

    Parameters:
    n (int): The number to be checked.

    Returns:
    bool: True if the number is prime, False otherwise.
    """

    if n <= 1:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

def printPrimes(n: int) -> None:
    if isPrime(n):
        print('The number is prime')
    else:
        print('The number is not prime')

In [28]:
print('Please input a number to check if it is prime or not')
number = int(input())
print(f'you input {number}.')
printPrimes(number)

Please input a number to check if it is prime or not
you input 11.
The number is prime

## Part 2
Let $F(n)$ be the Fermat Number given by $F(n) = 2^{2^n} + 1$. Are there any $F(n)$ is not is a prime number for $n = [0, 50]$?

In [29]:
def fermet_numbers(n: int) -> float:
    return 2 ** (2 ** n) + 1

In [30]:
FermetPrime = []
for i in range(0, 51):
    num = fermet_numbers(i)
    if num > 50:
        break
    if isPrime(num):
        FermetPrime.append(num)

FermetPrime

[3, 5, 17]